@page
@model Acme.BookStore.Web.Pages.Books.CreateModel

<form method="post">

    <div class="form-group">
        <label>عنوان کتاب</label>
        <input asp-for="Input.Title" class="form-control" />
    </div>

    <hr />
    <render-components for="Input" />
    <button type="submit" class="btn btn-primary">ثبت</button>
</form>
