@page
@model Acme.BookStore.Web.Pages.Books.EditModel
@{
    ViewData["Title"] = "ویرایش کتاب";
}

<h2>ویرایش کتاب</h2>

<form method="post">

    <div class="form-group mb-3">
        <label asp-for="Input.Title"></label>
        <input asp-for="Input.Title" class="form-control" />
        <span asp-validation-for="Input.Title" class="text-danger"></span>
    </div>

    <hr />

    <h4>مشخصات نویسنده</h4>

    <render-partials page="EditBook" for="Input" />
    <hr />

    <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
    <a asp-page="./Index" class="btn btn-secondary">بازگشت</a>
</form>

